/* Colors */
$accent-color: #db3d44;
$accent-compl-color: #45db3d;

$base-color: #222222;
$fill-color: #262626;

$a-color: #0D76DD;

/* transition-durations */

$navbar-item-hover-duration: 250ms;
$button-hover-duration: 250ms;