/* Colors */
$accent-color: #db3d44;
$accent-compl-color: #45db3d;

$base-color: #222222;
$fill-color: #262626;

$type-span-color: #474847;

$footer-color: #0f0f0f;

$a-color: #0D76DD;

/* transition-durations */

$navbar-item-hover-duration: 250ms;

$button-hover-duration: 250ms;

$a-hover-duration: 250ms;