.pageWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 3rem auto 0 auto;
    width: 70%;

    align-items: flex-start;

    @include for-desktop {
        width: 80%;
    }

    @include for-tablet-landscape {
        width: 90%;
    }

    @include for-tablet-portrait {
        width: 100%;
    }

    @include for-phone-only {
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}

.tableOfContents-wrapper {
    position: sticky;
    top: 0;

    flex: 30%;

    margin-top: 2.5rem;

    white-space: nowrap;

    @include for-phone-only {
        position: inherit;
        width: 100%;
        white-space: normal;
    }

    @include for-tablet-portrait {
        white-space: normal;
    }
}

.tableOfContents {
    padding: 2rem 2rem;

    border-right: 2px solid white;

    background-color: $base-color;
    
    li {
        line-height: 200%;
        font-size: 1.1rem;
    }

    @include for-phone-only {
        border: none;
        padding: 3rem 2rem;
    }
}

.content {
    flex: 70% 0 0;
    padding: 4rem 4rem;

    @include for-phone-only {
        padding: 3rem 2rem;
    }
}

.content img {
    height: auto;
    width: 100%;
}