.page-docs {
    @include for-desktop-below {
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}

.tableOfContents-wrapper-docs {
    @include for-desktop-below {
        position: inherit;
        width: 100%;
        white-space: normal;
    }
}

.big-header {
    text-align: center;
    margin-bottom: 3rem;
}

.path {
    background-color: $base-color;

    padding: 3rem;

    margin-bottom: 3rem;

    p {
        margin-bottom: 0;
    }

    .path-get-span {
        background-color: $accent-compl-color;
        border-radius: 6px;
        padding: 0.25rem;
    }

    .path-type-span {
        background-color: $type-span-color;
        border-radius: 6px;
        padding: 0.25rem;
    }

    .path-required-span {
        background-color: $accent-color;
        border-radius: 6px;
        padding: 0.25rem;
    }

    .parameters-header {
        p {
            opacity: 0.65;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    .path-parameters {
        background-color: $fill-color;
        padding-bottom: 1rem;
        
        li {
            line-height: 2rem;
        }

        ul {
            padding-right: 40px;
        }
    }
}


