footer {
    width: 100%;
    height: 50px;
    background: $footer-color;
    text-align: center;
    
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    > p {
        margin: auto;
         a {
            color: white!important;
        }
        
        @include for-phone-only {
            display: flex;
            flex-flow: column nowrap;
        }
    }

    @include for-phone-only {
        height: fit-content;
    }
}