@import "./spinner/spinner";

.homepage {
    text-align: center;

    > hr {
        width: 60%;
        margin: 0 auto;
    }
}

.jumbotron {
    background: $base-color;

    padding: 4rem;
    padding-bottom: 4.5rem;
    margin: 6rem auto;

    > h1 {
        margin-top: 0;
        padding: 0px;
        margin: 0px;
    }

    @include for-mini-phone-only {
        padding: 2rem;
    }
}

.jumbotron-flags {
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 30%;

    @include for-desktop {
        width: 40%;
    }

    @include for-tablet-landscape {
        width: 60%;
    }

    @include for-tablet-portrait {
        width: 80%;
    }

    @include for-phone-only {
        width: 100%;

        img {
            width: 30px;
        }
    }
}

.flag-icon {
    width: 50px;
    height: auto;
}

.demo-box {
    background: $base-color;

    width: 60%;
    margin: auto;
    margin-bottom: 6rem;

    padding: 4rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > hr {
        width: 80%;
        margin: 0 auto;
    }

    .input-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        > * {
            height: 30px;
            padding: 1.25rem;
        }

        .input-group-prepend{
            display: flex;
            justify-content: center;
            align-items: center;

            color: black;
            background: #D3D3D3;
        }

        input {
            border: none;

            @include for-mini-phone-only {
                width: 150px;
            }
        }

        button {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            border: none;
            background: $accent-compl-color;

            transition-duration: $button-hover-duration;

            > img {
                height: 30px;
                width: auto;
                filter: invert(100%);
            }

            &:hover {
                background: darken($color: $accent-compl-color, $amount: 15);
            }
        }
    }

    .demo-box-result {
        width: 100%;

        pre {
            min-height: 50vh;
            max-height: 50vh;
        }
    }

    @include for-tablet-landscape  {
        width: 80%;
    }

    @include for-tablet-portrait {
        width: 100%;
        padding: 2rem;
    }

    @include for-phone-only {
        width: 100%;
        padding: 2rem;
    }
}