/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 20px;
    transition-duration: $scrollbar-hover-duration;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $scrollbar-color, $amount: 25);
}